<a href="https://colab.research.google.com/github/swarnava-96/Getting-Started-with-Python-for-Data-Science/blob/main/Notebook8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions in Python**

1. Basic Functions
2. Print vs return
3. Positional and Keyword argument
4. Inserting multiple statements inside a function
5. Lambda Function
6. Map Function
7. Filter Function

### Basic Functions

In [1]:
# 

num = 24

if num%2 == 0:
  print('The number is even')
else:
  print('The Number is odd')

The number is even

In [2]:
# Now using the above lines of code as a fuction

def even_odd(num):
  if num%2 == 0:
    print('The Number is even')
  else:
    print('The Number is odd')

In [3]:
# Checking our function

even_odd(24)

The Number is even

### Print vs return

In [4]:
def hello_world():
  print("Hello welcome!")

In [5]:
# Checking our function

hello_world()

Hello welcome!

In [6]:
# Lets assign it to a variable and see the outcome

val = hello_world()

Hello welcome!

In [7]:
print(val)

None

In [8]:
# When printing the above function it is returning None as no return statement were present
## Lets define the same function with a return statement

def hello_world():
  return "Hello welcome!"

In [9]:
# Lets assign our new function to a variable

val = hello_world()

In [10]:
# Lets print 

print(hello_world())

Hello welcome!

In [11]:
# Defining another function

def add_number(num1, num2):
  return num1 + num2

In [13]:
# Lets check our function

val = add_number(24, 48)

In [14]:
val

72

### Positional and Keyword argument

In [19]:
def hello(name, age = 25):
  return "My name is {} and my age is {}".format(name, age)

In [20]:
val = hello("Swarnava")
print(val)

My name is Swarnava and my age is 25

Here above if we dont assign any name value then it is a positional argument and age is a keyword argument as value is already predefined.

In [21]:
# Another way of defining positional and keyword arguments

def hello(*args, **kwargs):
  print(args)
  print(kwargs)

In [22]:
hello("Swarnava", "Mukherjee", age = 25, dob = 1996)

('Swarnava', 'Mukherjee')
{'age': 25, 'dob': 1996}

In [23]:
# We can also assign our positional inputs as a list and keyword arguments as a dictionary

list = ['Swarnava', 'Mukherjee']
dict = {'age': 25, 'dob': 1996}

In [24]:
hello(*list, **dict)

('Swarnava', 'Mukherjee')
{'age': 25, 'dob': 1996}

### Inserting Multiple statements inside a function

In [25]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
def evenoddsum(list):
  even_sum = 0
  odd_sum = 0
  for i in list:
    if i%2 == 0:
      even_sum = even_sum + i
    else:
      odd_sum = odd_sum + i
  return even_sum, odd_sum

In [27]:
evenoddsum(list)

(30, 25)

### Lambda Functions

It is also called anonymous function or a function with no name.

In [28]:
# Defining a general function

def addition(a, b):
  return a + b

In [29]:
addition(5, 9)

14

Now lets use a lambda function for the above mentioned general fuction.

NOTE: Lambda functions can only be used when we have ONE expression inside our function. Lambda functions are faster compared to general functions.

In [32]:
addition = lambda a, b : a + b

In [33]:
addition(5, 9)

14

In [34]:
# General function to check whether a number is even or not

def even(num):
  if num%2 ==0:
    return True

In [35]:
even(24)

True

In [38]:
# Using lambda function for the same task

even1 = lambda a : a%2 == 0

In [39]:
even1(24)

True

In [40]:
# Another example comparing general with lambda functions

def addition(x, y, z):
  return x + y + z

In [42]:
addition(2,3,4)

9

In [43]:
# Now using lambda functon

value = lambda x, y, z : x + y + z

In [44]:
value(2,3,4)

9

### Map Functions

In [45]:
# Defining a even odd function

def even_or_odd(num):
  if num%2 == 0:
    return "The Number {} is even".format(num)
  else:
    return "The Number {} is odd".format(num)

In [46]:
# Lets execute the function

even_or_odd(24)

'The Number 24 is even'

Now suppose we have a list of numbers, then to check which are odd and which are even we can either use a loop and iterate through each number or we can use a Map Function.

In [47]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
map(even_or_odd, list)

In [55]:
value = map(even_or_odd, list)

In [60]:
for i in value:
  print(i)

The Number 1 is odd
The Number 2 is even
The Number 3 is odd
The Number 4 is even
The Number 5 is odd
The Number 6 is even
The Number 7 is odd
The Number 8 is even
The Number 9 is odd
The Number 10 is even

### Filter Function

In [61]:
# lets define an even function

def even(num):
  if num%2 == 0:
    return True

In [62]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
value = (filter(even, list))

In [65]:
for i in value:
  print(i)

2
4
6
8
10

In [66]:
# Using the filter function with lambda function

value1 = filter(lambda num : num%2 == 0, list)

In [67]:
for i in value1:
  print(i)

2
4
6
8
10

In [68]:
# Using the map function with lambda

value2 = map(lambda num : num%2 == 0, list)

In [69]:
for i in value2:
  print(i)

False
True
False
True
False
True
False
True
False
True