<a href="https://colab.research.google.com/github/swarnava-96/Getting-Started-with-Python-for-Data-Science/blob/main/Notebook2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures and Boolean**

### **Topics Covered**



1.   Boolean
2.   Boolean and Logical Operators
3.   List
4.   Sets
5.   Dictionaries
6.   Tuples

### Boolean

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [3]:
my_str = "swarnava123"

In [6]:
#check if all char are numbers
print(my_str.isalnum())

#check if all char in the string are alphabetic
print(my_str.isalpha()) 

#test if string contains digits
print(my_str.isdigit()) 

#test if string contains title words
print(my_str.istitle()) 

#test if string contains upper case
print(my_str.isupper())

#test if string contains lower case
print(my_str.islower()) 

#test if string contains spaces
print(my_str.isspace()) 

#test if string endswith a a
print(my_str.endswith('a')) 

#test if string startswith s
print(my_str.startswith('s')) 

#test if string has title(starts with a capital letter)
print(my_str.istitle())

True
False
False
False
False
True
False
False
True
False

### Boolean and Logical Operators

In [7]:
True and True

True

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
True or True

True

In [11]:
str_example='Hello World'
my_str='Swarnava'

In [12]:
my_str.isalpha() or str_example.isalnum()  # As the first condition is True

True

### Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [13]:
type([])

list

In [14]:
# Creating an empty list

list_example = []

In [15]:
type(list_example)

list

In [16]:
# We can also create an empty list like this way

list = list()

In [17]:
type(list)

list

In [18]:
list=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [19]:
type(list)

list

In [20]:
# Checking the length of the list(indexing in length starts from 1 and not 0)

len(list)

6

In [21]:
# Append is used to add elements in the list. The element gets added at the last.

list.append('Swarnava')

In [22]:
list

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Swarnava']

In [24]:
# Nested list

list.append(['Abhishek', 'Pushpok'])

In [25]:
list

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Swarnava',
 ['Abhishek', 'Pushpok']]

In [26]:
# Indexing in List(here indexing starts from 0)

list[6]

'Swarnava'

In [27]:
# Slicing in a list(here the last element is ignored,starting element is considered)

list[1:6]

['chemistry', 100, 200, 300, 204]

In [28]:
# Insert in a specific order(here indexing starts from 0)

list.insert(2, 'Mukherjee')

In [29]:
list

['Mathematics',
 'chemistry',
 'Mukherjee',
 100,
 200,
 300,
 204,
 'Swarnava',
 ['Abhishek', 'Pushpok']]

In [30]:
list.append("Hello World")  # adds as an item

In [31]:
list

['Mathematics',
 'chemistry',
 'Mukherjee',
 100,
 200,
 300,
 204,
 'Swarnava',
 ['Abhishek', 'Pushpok'],
 'Hello World']

In [32]:
list.append(["Hello","World"]) # adds as a nested list

In [33]:
list

['Mathematics',
 'chemistry',
 'Mukherjee',
 100,
 200,
 300,
 204,
 'Swarnava',
 ['Abhishek', 'Pushpok'],
 'Hello World',
 ['Hello', 'World']]

In [34]:
list = [1,2,3]

In [35]:
list.append([4, 5])

In [36]:
list

[1, 2, 3, [4, 5]]

In [37]:
# Extend Method

list = [1, 2, 3, 4, 5, 6]  #here it get adds as different items and not as a nested list
list.extend([7, 8])
list

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
# Various Operations that we can perform in List

list=[1,2,3,4,5]

print(sum(list))  # Adding all the items in the list

print(list*5)     # the list itself gets multiplied 5 times

15
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [39]:
# Pop() Method

list = [1, 2, 3, 4, 5, 6, 7, 8]

list.pop() # deletes the last item

8

In [40]:
list

[1, 2, 3, 4, 5, 6, 7]

In [41]:
list.pop(0)  # Deletes the first item

1

In [42]:
list

[2, 3, 4, 5, 6, 7]

In [43]:
# count(): Calculates total occurrence of given element of List.

list = [1, 1, 2, 3, 4, 5]
list.count(1)

2

In [44]:
# length:Calculates total length of List

len(list)

6

In [47]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters.

list.index(1,1,4)

1

In [50]:
## Min and Max

print(list)
print("The min value in list is", min(list))
print("The max value in list is", max(list))

[1, 1, 2, 3, 4, 5]
The min value in list is 1
The max value in list is 5

### SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table.

In [53]:
# Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [54]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [56]:
## Inbuilt function in sets

set_var.add('Hulk')
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [57]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [58]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [59]:
set2  # Change is not permanent

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [61]:
set2.intersection_update(set1)

In [62]:
set2  # Now change is permanent

{'Avengers', 'Hitman', 'IronMan'}

In [64]:
# Difference 

set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

set2.difference(set1)

{'Hulk2'}

In [65]:
set2   # again change is not permanent

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [66]:
set2.difference_update(set1)

In [67]:
set2   # now change is permanent

{'Hulk2'}

### Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [68]:
dic = {}

In [69]:
type(dic)

dict

In [70]:
set_ex={1,2,3,4,5}

In [71]:
type(set_ex)

set

In [72]:
# Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [73]:
type(my_dict)

dict

In [74]:
#Access the item values based on keys

my_dict['Car1']

'Audi'

In [75]:
# We can even loop throught the dictionaries keys

for x in my_dict:
  print(x)

Car1
Car2
Car3

In [76]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
  print(x)

Audi
BMW
Mercidies Benz

In [77]:
# We can also check both keys and values

for x in my_dict.items():
  print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [78]:
# Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [79]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [80]:
my_dict['Car1']='Maruti'

In [81]:
my_dict  # values can be overwritten

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [82]:
# Nested Dictionary

car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador':1980}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [83]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

### Tuples

In [84]:
# create an empty Tuples

my_tuple=tuple()

print(type(my_tuple))

<class 'tuple'>

In [85]:
# Another way of creating an empty tuple

my_tuple = ()

print(type(my_tuple))

<class 'tuple'>

In [86]:
# Tuples can be overwritten

my_tuple = ('Swarnava', 'Abhishek', 'Pushpok')
my_tuple = ('Deeyan')

print(my_tuple)

Deeyan

In [87]:
# Inbuilt function
my_tuple.count('Deeyan')

1

In [88]:
my_tuple.index('Deeyan')

0